*{

}

body {
    margin-right: 60px;
    margin-left: 60px;
    width: 90%;
}

h1 {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 5px;
}


img {
    border: black 7px solid;
    
  
}

ul {

}

li {

}

p {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;

  
}

#header {
    margin-top: 1px;
    margin-bottom: 5px;
    border-bottom: solid 7px;
    background-color: #c2b7f5;
}

#content{
  
}

#text {
    text-indent: 40px;

    
  
}

#text p {
    box-shadow: 7px 7px 5px rgb(58, 58, 58);
    padding-top: 10px;
    border-style: dashed;
    background-color: #c2b7f5;
    
}
  

#text p:first-child {
    border-style: dashed;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-image: url(../images/fondoParrafo.png);
  
}

#text p:last-child {
    border-style:dashed;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #c2b7f5;
}

#menu {
    text-align: center;

}

#menu a{
    text-decoration: none;
}


#menu li{
    display: inline;
    border-left: 5px solid red;
    padding-left: 10px;


}

#menu li a:hover{
    color: red;
    text-decoration: underline;

}

#footer{

    background-color: rgb(111, 63, 155);
    text-align: center;
    border-top: 5px blue solid;
    color: white;
}

#footer a{
    color: white;
    text-decoration: none;


}

#footer a:hover{
    color: red;
    text-decoration: underline;

}
#image {
    text-align: right;
    margin-top: 10px;

}

@media all and (max-width: 500px) {
    img{border: red solid 5px;}

}
