*{
  margin: 0px auto;
}

body {
  background: url('back.avif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: "Lucida Console", "Courier New", monospace;;
}

h1, h2 {
  text-align: center;
}
h3 {
  font-size: 40px;
}

img {
  border: ridge 5px #2170a5;
  margin: 10px;
}

ul {
  color: white;
}

p {
  margin-bottom: 5px;
}

#header {
  margin-top: 20px;
  text-align: center;
  background-image: url(photo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  border-bottom: 5px solid #6599FF;
  border-top: 5px solid #6599FF;
  color: rgb(216, 69, 118);
  padding: 70px;
}

#content{

}

#menu {

  /*1: */ position: fixed;
  /*2: */ top: 0px;
  /*3: */ width: 100%;
  text-align: center;  
  background-color: #093e70;
  border: 1px solid #000000;
  font-family: 'Pacifico', cursive;
  font-size: 1.2em;
}

#menu a{
  color: white;
  text-decoration: none;
}


#menu li{
  display: inline;
  padding-left: 5px;  
}

#menu li a:hover{
  
  /*1: */ text-decoration: underline;
  /*2: */ color: #093e70;
  background-color:#efedf5;
}

#footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  
  background-color: #093e70;
  text-align: center;
  color: white;
  border-top: 5px solid black;
  clear: both;
}

#footer a{
  color: white;
  text-decoration: none;
}

#footer a:hover{
  color: #093e70;
  background-color: white;
  text-decoration: none;
}
#image {
  text-align: right;
  margin-right: 60px;
}





#imageRight{
  float: right;      
  width: 250px;      
  margin-left: 20px;
  margin-right: 40px; 
  margin-bottom: 10px;
}
#imageRight img {
  width: 100%;       
  height: auto;
  border: ridge 5px #2170a5; 
}

#imageLeft {
  float: left;        
  width: 250px;      
  margin-right: 50px; 
  margin-bottom: 10px;
}
#imageLeft img {
  width: 100%;        
  height: auto;       
  border: ridge 5px #2170a5; 
}

#textCookie {
  text-align: center;
}

#cookieEU {
  /*1: */ position: fixed;
  /*2: */ top: 30%;
  /*3: */ left: 25%;
  /*4: */ right: 25%;

  border:2px solid rgb(0, 255, 149);
  background-color: white;
  margin-bottom: 50px;
  padding-bottom: 5px;
  box-shadow: 2px 2px 50px black;
  border-radius: 30px;
}

#css {
  text-align: justify;
  border: 5px solid black;
  background-color: white;
  padding: 20px;
  margin-left: 20px auto; 
  width: 80%;
  height: 350px; 
  overflow-y: scroll;
  overflow-x: hidden; 
  border-radius: 30px;
  float: left;
}

#textCentral {
  text-align: justify;
  border: 5px solid black;
  background-color: white;
  padding: 20px;
  margin-right: 20px auto; 
  width: 80%;        
  height: 350px;     
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 30px;    
    float: left;
  
}

#sitiosWeb {
  float: right;           
  width: 250px;           
  background-color: black;
  border: 5px solid black;
  border-radius: 30px;
  padding: 15px 5px;      
  margin-right: 10px;   
  margin-top: -400px;        
  height: 730px;           
  overflow: hidden;       
  text-align: center;
}

#sitiosWeb ul {
  list-style: none;       
  padding: 0;
  margin: 0;
}

#sitiosWeb li {
  margin-bottom: 20px;    
}

#sitiosWeb img {
  width: 120px;            
  height: auto;
  border: none;           
  margin: 0;
}
#textito {
  color:rgb(216, 69, 118);
}

.button {
  	background-color: #093e70; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
}

.button:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

@media all and (max-width: 500px) {
  #sitiosWeb {
    float: none;          
    width: 100%;
    height: 100px;           
    margin: 10px auto;    
    display: inline-block;

  }

  #sitiosWeb img {
    width: 50px;
  }
  #sitiosWeb li {
    display: inline; 
    margin: 10px;

  }

  #textCentral {
    margin: 0px 0px ;
  }
  
  #imageToHide {
    float: left;

    text-align: center;
    margin-bottom: 40px;
  }
  
  #textOverflow {
    margin-right: 0px;
  }
  
  #header {
    margin-top: 50px;
  }

}

@media all and (max-width: 300px) {
  #header {
    margin-top: 100px;
  }
}